
    
    .zoom{
        transition: transform .2s;
    }
    
    .zoom:hover{
        transform: scale(1.02);
    }
    
    .banner::after{
        content:'';
        position:absolute;
        background-color: rgb(107, 95, 95);
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.5;
    }